/*---------------------------------------
stylesheet, ported from Codepiano's blog:
codepiano.github.io
------------------*/
/* =============================================================================
#     FileName: pengx.css
#         Desc: stylesheet for blog
#       Author: codepiano
#        Email: anyexingchen999@qq.com
#     HomePage: http://www.weibo.com/anyexingchen
#      Version: 0.0.1
#   LastChange: 2013-05-14 14:13:41
#      History:
============================================================================= */

@charset "utf-8";

/* a标签样式 */
a {
  text-decoration: none;
  
  -webkit-transition: all 0.15s ease-in-out;
     -moz-transition: all 0.15s ease-in-out;
       -o-transition: all 0.15s ease-in-out;
          transition: all 0.15s ease-in-out;
}

a:link {
  color: #1077BC;
}

a:hover {
  color: #FF9900;
  text-decoration: none;
}

a:active {
  color: #FF6699;
  text-decoration: none;
}

a:visited {
  color: #044869;
}
a:visited:hover {
  color: #FF9900;
}

/* 让页面字体更有质感 */
body {
  text-shadow: 0 1px 0 #ffffff;
}

/* 主页中央区域 */
html, body, div.wrapper {
  height: 100%;
  background-color: #F9F9F9;
}

/* 段落样式 */
.paragraph {
  font-size: 15px;
  text-indent: 2em;
}

/* font-awesome post信息按钮样式 */
.fa fa-folder-open, .fa fa-tags, .fa fa-calendar {
  color:#A84365;
}

.fa fa-double-angle-right {
  color: #FF6699;
}

/* 自定义高亮样式 */
.highlight pre,code {
  font-size: 15px;
  background-color: #ECECEC;
  color: #145201;
}

/* 自定义高亮样式 */
pre code {
  font-size: 13px;
  color: #145201;
}

blockquote {
  font-size: 15px;
}

blockquote p {
  font-size: 15px;
  line-height: 1.8;
}
.typo blockquote p {
	margin-bottom: 0em;
}

/* 覆盖bootstrap导航条设置 */
.navbar  a.navbar-brand {
  height: auto;
}

.navbar .col-md-8 {
  -webkit-transition: all 0.4s ease-in-out;
     -moz-transition: all 0.4s ease-in-out;
       -o-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
}

.navbar .col-md-8:hover {
  /*background: 180px url('/image/giant-head.png') no-repeat;*/
}

.navbar ul.nav {
  padding: 5px 20px 0px;
  height:auto;
}

.navbar>.container{
  padding-left: 0px;
  padding-right: 0px;
  border-left: none;
  border-right: none;
  width: 100%;
}

.navbar>.container ul li{
  float: left;
}

/* 覆盖导航条激活菜单的背景色设置 */
.nav>li>a, .nav>li>a:hover, .nav>li>a:focus {
  background-color: transparent;
  box-shadow:none;
}

.navbar .nav>li.active>a {
  color:#EC6197; 
}

/* 覆盖typo.css中ul默认的margin-left属性 */
ul.tag_box {
  margin-left: 0;
}

ul.tag_box > li:first-child {
  padding-left: 0px;
}

/* 标题栏文字样式 */
.site-title {
  color: #1B813F;
  -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

.site-title:hover {
  text-shadow: #1B813F 0px 0px 15px;
}

.site-author {
  color: #169FDE;
  font-size: 28px;
  -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

.site-author:hover {
  text-shadow: #169FDE 0px 0px 30px;
}

/* 底部div定位 */
div.wrapper>div.typo{
  padding-bottom: 60px;
}

/* 底栏div样式 */
div.bottom {
  position: relative;
  margin-top: -60px;
  height: 60px;
  clear: both;
}

/* 底栏声明链接样式 */
a.license {
  color:#5E6087;
}

/* 解决typo.css覆盖bootstrap的li.list-style */
ul.nav.nav-tabs {
  list-style: none;
}

/* 技术支持列表样式 */
ul#support {
  margin-top: 20px;
}

.dispear {
  border-color: #F3F3F3;
}

ul#support.dispear>li {
  display:none;
}

ul#support.dispear>li:first-child {
  display:block;
}

ul#support.dispear>li>a {
  border-color: #F3F3F3;
  color: #F3F3F3;
}

ul#support.dispear>li>a:hover {
  background-color: transparent;
}


ul#support.dispear>li:first-child>a:hover {
  color: #CC527A;
}

ul#support.dispear>li:first-child>a>i.fa fa-star-empty {
  color: #F3F3F3;
}

ul#support.dispear>li:first-child>a:hover>i.fa fa-star-empty {
  color: #E8175D;
}

#support.show a {
  color: #CC527A;
}

.nav-tabs>li.active>a {
  border-bottom-color: #ddd;
}

.fa fa-ok, .fa fa-star-empty {
  color: #E8175D;
}

ul#support.show {
  border-color: #F3F3F3;
}

ul#support.show li {
  display:block;
}

ul#support.show a {
  border-color: #DDDDDD;
  color:#CC527A;
}

/* 文章日期样式 */
.post-date {
  color: #1077BC;
}

/* Datatable设置,应用bootstrap样式 */
table#post-data {
  border-spacing:0;
  border-collapse:collapse;
}

table#post-data td, table#post-data th {
  color: #1077BC;
}

table#post-data .fa fa-calendar, table#post-data .fa fa-bookmark, table#post-data .fa fa-tags {
  color: #1077BC;
}

table .post-date{
  width: 12em;
}

table#post-data a:hover {
  color: #FF6699;
}

/*  */
div.row {
  margin-left: 0px;
  margin-right: 0px;
}

/* 覆盖bootstrap默认的tooltip设置 */
div.tooltip.right .tooltip-arrow {
  border-right-color: rgb(255, 138, 73);
}
div.tooltip.top .tooltip-arrow {
  border-top-color: rgb(255, 138, 73);
}

div.tooltip-inner {
  font-size: 14px;
  color: #F3F3F3;
  background-color: rgb(255, 138, 73);
  text-shadow: 0 0;
}


/* 归档和时间线页面列表样式 */
ul.posts-list {
  list-style: none;
  position: relative;
  padding: 0px;
}

ul.posts-list li{
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #D9D7D4;
  margin-top: 9px;
  padding-bottom: 5px;
  font-size: 14px;
}

a.post-url {
  font-size: 16px;
  margin-left: 2px;
}

.post-featured {
}

span.post-right-info {
  right: 0;
  position: absolute;
  font-size: 16px;
  color: #BBBBBB;
}

/* 覆盖bootstrap默认的li格式 */
li {
line-height: 25px;
}


/* 时间锚点的样式 */
ul.time-list {
  margin-top: 10px;
}

ul.time-list a {
  font-size: 14px;
  color: #FF6699;
}

ul.time-list a>i.fa fa-chevron-right{
  color: #F3F3F3;
}

ul.time-list>li.active>a>i.fa fa-chevron-right {
  color: #333333;
}

ul#time-list-ul a{
  margin-bottom: -3px;
  border: 1px solid #ddd;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

ul#time-list-ul a:hover{
  background-color: #ddd;
}

ul.nav-tabs {
  border-bottom: none;
}

/* about样式 */
p.about {
  text-indent: 2em;
  font-size: 18px;
}

/* 链接table样式 */
table#about-me td{
  font-size: 18px;
  padding:7px;
}

table#about-me a{
  color: #1077BC;
}

/* 目录的tab样式，继承自bootstrap 2.x版本 */
.tabbable:before, .tabbable:after {
  display: table;
  content: "";
  line-height: 0;
}

#categories-nav {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right>.nav-tabs>li {
float: none;
}

.tab-content {
  overflow: auto;
}

hr.hr-strong {
  border-bottom: 5px groove #cfcfcf;
}
 
h2.title
{
  text-shadow: 2px 2px 2px #D0D0D0;
}

.post h4
{
  text-shadow: 1px 1px 2px #D0D0D0;
}

/* 帖子板块的鼠标动画效果 */
.well {
  -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
}

.well:hover {
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

/* 使帖子定位更精确 */
.post-full {
    position: relative;
}


/* 精华帖缎带的效果 */
.featured-ribbon {
  position: absolute;
  background:url('/image/featured-small-full.png') no-repeat;
  width: 80px;
  height: 42px;
  margin-top: -24px;
  margin-left: -21px;
  padding-top: 15px;
  cursor: pointer;
  
  /*
  -webkit-transition: margin-top 0.2s ease;
     -moz-transition: margin-top 0.2s ease;
       -o-transition: margin-top 0.2s ease;
          transition: margin-top 0.2s ease;
  */
}
.featured-ribbon:hover {
  background-position:0 -43px;
}

/* 因为我很爱用<del>, 我觉得得修饰一下。。 */
del {
  color: rgb(185, 185, 185);
}

/* 帖子内的图片修饰 */
.post img{
  display: block; margin-left: auto; margin-right: auto;
  padding: 5px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  border: 1px solid #ddd;
  max-width: 100%;
}

/* 帖子的特殊装饰 */
.post {
 border-top-width: 5px;
}
