<div class="row-fluid post-full typo">
  <div class="span2"></div>
  <div class="span8 typo well">
    <h2 class="title">{{ page.title }} {% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</h2>
    <div class="post_info">
      {% unless page.categories == empty %}
      <ul class="tag_box inline">
        <li><i class="icon-calendar"></i></li>
        <li>{{ page.date | date: " %Y 年 %m 月 %d 日" }}</li>
        <li><i class="icon-folder-open"></i></li>
        {% assign post_categories = page.categories %}
        {% include codepiano/post_categories_info %}
      </ul>
      {% endunless %}  
    </div>
    <div class="content">
      {{ content }}
    </div>
    <div class="weibo-share">
    <script type="text/javascript" charset="utf-8">
    (function(){
      var _w = 24 , _h = 24;
      var param = {
        url:location.href,
        type:'2',
        count:'', /**是否显示分享数，1显示(可选)*/
        appkey:'2668249176', /**您申请的应用appkey,显示分享来源(可选)*/
        title:'{{ page.title }}', /**分享的文字内容(可选，默认为所在页面的title)*/
        pic:'https://en.gravatar.com/userimage/12672673/3c53dbf512dfdf9c28282ca1df0f1845.jpg', /**分享图片的路径(可选)*/
        ralateUid:'1773498301', /**关联用户的UID，分享微博会@该用户(可选)*/
        language:'zh_cn', /**设置语言，zh_cn|zh_tw(可选)*/
        dpc:1
      }
      var temp = [];
      for( var p in param ){
        temp.push(p + '=' + encodeURIComponent( param[p] || '' ) )
      }
      document.write('<iframe allowTransparency="true" frameborder="0" scrolling="no" src="http://service.weibo.com/staticjs/weiboshare.html?' + temp.join('&') + '" width="'+ _w+'" height="'+_h+'"></iframe>')
    })()
    </script>
    </div>
    {% unless page.tags == empty %}
    <ul class="tag_box inline">
      <li><i class="icon-tags"></i></li>
      {% assign tags_list = page.tags %}
      {% include codepiano/tags_list %}
    </ul>
    {% endunless %}  
    <hr>
    <div class="pagination pull-right">
      <ul>
        {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
        {% else %}
        <li class="prev disabled"><a>&larr; Previous</a></li>
        {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.codepiano.archive_path }}">Archive</a></li>
        {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
        {% else %}
        <li class="next disabled"><a>Next &rarr;</a>
        {% endif %}
      </ul>
    </div>
    <br />
    <div id="comment-hook"></div>
    {% include codepiano/comments %}
  </div>
  <div class="span2"></div>
</div>
